
@{
    ViewData["Title"] = "Get In Touch";
    Layout = "~/Views/Shared/OrdersLayout.cshtml";
}


<form action="#">
    <label for="name">Name</label>
    <input type="text" name="Name" id="name">
    <label for="email">Email</label>
    <input type="email" name="Email" id="email">
    <label for="msg">Message</label>
    <textarea id="msg"></textarea>
    <input type="submit" value="Send Message">
</form>